.NotesName {
    display: "flex";
    justify-content: "center";
    align-items: "center";
    text-transform: "Capitalize";
  };

  .NotesContent {
    border-radius: 0rem 0rem 0rem 0.9375rem;
    background: #f7ecdc;
    width: 67vw;
    height: 63vh;
    overflow-y: scroll;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    top: 77px;
  }